@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-color-opacity: rgba(255, 255, 255, 0.6);
  --dark-black-color-opacity: rgba(47, 48, 58, 0.8);
  --light-black-color-opacity: rgba(0, 0, 0, 0.2);
  --blue-color-opacity: rgba(33, 150, 243, 0.9);
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --shadow-black: rgba(0, 0, 0, 0.15);
  --light-grey: #afb1b8;
  --light-black: rgba(255, 255, 255, 0.1);
  --time-transition: 250ms;
  --basic-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* покажу на одной переменной как работает*/
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-weight: 400;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--basic-function);
          transition-timing-function: var(--basic-function);
}

button {
  font-family: inherit;
  letter-spacing: inherit;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.blue-button {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px var(--shadow-black);
          box-shadow: 0px 4px 4px var(--shadow-black);
  border-radius: 4px;
  border: none;
}

address {
  font-style: normal;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--light-black-color-opacity);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--basic-function);
          transition-timing-function: var(--basic-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px 39px 40px 41px;
  max-width: 528px;
  width: 100%;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--time-transition) var(--basic-function);
  transition: -webkit-transform var(--time-transition) var(--basic-function);
  transition: transform var(--time-transition) var(--basic-function);
  transition: transform var(--time-transition) var(--basic-function), -webkit-transform var(--time-transition) var(--basic-function);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill var(--time-transition) var(--basic-function);
  transition: fill var(--time-transition) var(--basic-function);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}
.logo span {
  color: var(--accent-color);
}

.list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.list-header a:hover, .list-header a:focus {
  color: var(--accent-color);
}

.site-nav {
  margin-left: 93px;
  gap: 50px;
}
.site-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 79px;
}
.site-nav__link {
  -webkit-transition-property: color;
  transition-property: color;
}
.site-nav__item--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__item--current::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
}

.auth-nav {
  color: var(--secondary-text-color);
  margin-left: auto;
  gap: 30px;
}
.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--secondary-text-color);
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
}
.auth-nav__link:hover, .auth-nav__link:focus {
  fill: var(--accent-color);
}
.auth-nav__icon {
  margin-right: 10px;
}

.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/image-bg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/image-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  text-align: center;
}
.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  margin-top: 30px;
}

.section-plus {
  padding-bottom: 0;
}

.plus-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.plus-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.plus-list__desc {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.plus-list__title {
  margin-bottom: 10px;
}
.plus-list__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.plus-list__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  margin-bottom: 30px;
  background: var(--secondary-bg-color);
  border-radius: 4px;
}
.plus-list__icon {
  width: 70px;
  height: 70px;
}

.work-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* gap: 30px; так лучше, но сделаю через чайлд*/
}
.work-list__item {
  position: relative;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
}
.work-list__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--white-color);
  background-color: var(--dark-black-color-opacity);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 27px;
}

.section-team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team-list__item {
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list__description {
  padding: 30px;
}
.team-list__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.team-list__desc {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.constant-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.constant-clients__item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  min-height: 92px;
}
.constant-clients__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  fill: var(--light-grey);
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
}
.constant-clients__link:hover, .constant-clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.user-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.user-input {
  min-height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: inherit;
}
.user-input:focus {
  border: 1px solid var(--accent-color);
}
.user-input:focus + .user-icon {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.user-field {
  position: relative;
  margin-bottom: 10px;
}

.user-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
}

.user-coment {
  resize: none;
  outline: none;
  display: block;
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: inherit;
}
.user-coment:focus {
  border: 1px solid var(--accent-color);
}
.user-coment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.user-coment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.user-coment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.user-coment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.user-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.user-check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.user-check + label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  cursor: pointer;
}
.user-check + label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 8px;
  margin-left: 12px;
  min-width: 16px;
  min-height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  -webkit-transition: background-image, border-color, background-color var(--time-transition) var(--basic-function);
  transition: background-image, border-color, background-color var(--time-transition) var(--basic-function);
}
.user-check + label a {
  text-decoration: underline;
  color: var(--accent-color);
}
.user-check:checked + label::before {
  background-image: url("../images/check.svg");
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-position: left;
}

.user-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 52px;
  padding-right: 52px;
}

.portfolio-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.portfolio-categories__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border: none;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--basic-function);
          transition-timing-function: var(--basic-function);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  padding: 6px 22px;
}
.portfolio-categories__button:hover, .portfolio-categories__button:focus, .portfolio-categories__button--active {
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio-list__image {
  width: 370px;
  height: 294px;
}
.portfolio-list__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
.portfolio-list__link:hover .portfolio-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__item {
  position: relative;
  overflow: hidden;
}

.portfolio-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-content__desc {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.portfolio-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 24px;
  background-color: var(--blue-color-opacity);
  -webkit-transition: -webkit-transform var(--time-transition) var(--basic-function);
  transition: -webkit-transform var(--time-transition) var(--basic-function);
  transition: transform var(--time-transition) var(--basic-function);
  transition: transform var(--time-transition) var(--basic-function), -webkit-transform var(--time-transition) var(--basic-function);
}
.portfolio-description__desc {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  margin-top: auto;
  margin-bottom: auto;
}

.list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 44px;
  height: 44px;
  fill: var(--light-grey);
  border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.list-links__link:hover, .list-links__link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-block__logo {
  margin-bottom: 20px;
  display: inline-block;
  color: var(--white-color);
}

.footer-list__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color-opacity);
}
.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  color: var(--white-color);
}

.address-block {
  max-width: 231px;
  width: 100%;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}

.connect-block__title,
.subscribe-block__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  text-transform: uppercase;
}

.connect-block .list-links__link:not(:hover) {
  fill: var(--white-color);
  background-color: var(--light-black);
}

.subscribe-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 23px;
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.form-subscribe__input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  max-width: 358px;
  width: 100%;
  padding: 14px 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
}
.form-subscribe__input ::-webkit-input-placeholder {
  color: var(--white-color-opacity);
}
.form-subscribe__input ::-moz-placeholder {
  color: var(--white-color-opacity);
}
.form-subscribe__input :-ms-input-placeholder {
  color: var(--white-color-opacity);
}
.form-subscribe__input ::-ms-input-placeholder {
  color: var(--white-color-opacity);
}
.form-subscribe__input ::placeholder {
  color: var(--white-color-opacity);
}
.form-subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-left: 28px;
  padding-right: 28px;
  fill: var(--white-color);
}/*# sourceMappingURL=main.css.map */